*
!**/
!*/
!*/arg.h
!*/blocks.def.h
!*/config.def.h
!*/config.mk
!**/*.diff
!*/dmenu.1
!*/dmenu.c
!*/dmenu_path
!*/dmenu_run
!*/drw.c
!*/drw.h
!*/dwm.1
!*/dwmblocks.c
!*/dwm.c
!*/dwm.png
!*/explicit_bzero.c
!.gitignore
!*/Makefile
!*/slock.1
!*/slock.c
!*/st.1
!*/st.c
!*/stest.1
!*/stest.c
!*/st.h
!*/st.info
!*/transient.c
!*/util.c
!*/util.h
!*/win.h
!*/x.c
